/* 
#light body {
  background: #EADCF0;
} */

#dark body {
  background: #10002B;
}

.app {
  font-family: 'Outfit', sans-serif;
  /* background-color: #EADCF0; */
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.app__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 3rem; */
  width: 600px;
}

.app__header h1 {
  margin: 0;
}

.app__timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  font-size: 128px;
  text-align: center;
}

h1 {
  /* font-family: 'Sacramento', cursive; */
  font-size: 36px;
  /* margin-bottom: -25px; */
  margin-top: 0;
  padding: 0;
}

h2 {
  /* font-family: 'Sacramento', cursive; */
  font-size: 36px;  
}

p {
  font-size: 16px;
}

button {
  font-family: 'Outfit', sans-serif;
  width: 120px;
  height: 2.5em;
  font-size: 16px;
  /* margin: 1rem; */
  /* border: none; */
  border-radius: 42px;
  /* background: #bab4ff; */
  /* box-shadow:  -5px -5px 10px  #cbc4ff,
               -5px 5px 10px  #a9a4e8; */
}

#light button {
  border: 2px solid #3C096C;
  background: #EADCF0;
  color: #10002B;
}

#dark button {
  border: 2px solid #E0AAFF;
  background: #10002B;
  color: #EADCF0;
}

button:hover {
  background: #b2abff;
}

button:focus {
  outline: none;
}
/* 
button:disabled {
  color: lightgrey;
} */

.how {
  width: 600px;
  margin-top: 6rem;
  /* max-width: 90%; */
  border-radius: 2rem;
  padding: 1rem;
}

#light .how {
  border: 2px solid #E2CDF4;
}

#dark .how {
  border: 2px solid #240046;
}

.mode__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  margin-top: 3rem;
}

.control__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* margin: 1rem 0; */
}

#light {
  background-color: #EADCF0;
  color: #10002B;
}

#dark{
  background-color: #10002B;
  color: #EADCF0;
}

/* responsiveness */

@media screen and  (max-width: 850px){
  .app {
    padding: 20px;
  }

  .how, .app__header {
    width: 70%;
  }

  .button {
    font-size: 12px;
  }
}

@media screen and  (max-width: 550px){
  .app {
    padding: 20px;
  }

  .how, .app__header {
    width: 90%;
  }

  .button {
    font-size: 12px;
    width: 100px;
  }
}