
body {
  font-family: 'Outfit', sans-serif;
  background-color: #BAB4FF;
  /* text-align: center; */
  font-size: 16px;
  margin: 0;
  padding: 0;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
}

.timer {
  font-size: 128px;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 48px;
  margin-bottom: -25px;
  margin-top: 0;
  padding: 0;
}

h2 {
  font-family: 'Sacramento', cursive;
  font-size: 36px;  
}

p {
  font-size: 16px;
}

button {
  font-family: 'Outfit', sans-serif;
  width: 120px;
  height: 2.5em;
  font-size: 16px;
  /* margin: 20px; */
  border: none;
  border-radius: 42px;
  background: #bab4ff;
  box-shadow:  5px 5px 10px #a9a4e8,
               -5px -5px 10px #cbc4ff;
}

button:hover {
  background: #b2abff;
}

button:focus {
  outline: none;
}

button:active {
  background: #aaa2ff;
}

.mode__buttons,
.control__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.header {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0;
  padding:  10px 10px;
  text-align: center;
}

.modebtn {
  margin: 20px;
}

.icons {
  width: 42px;
  padding-left: 3px;
  padding-right: 5px;
  border-radius: 50px;
  background: #BAB4FF;
  box-shadow:  5px 5px 11px #9e99d9,
              -5px -5px 11px #d6cfff;
}

#pg1 {
  /* height: 100vh; */
  margin: 0;
}


.timer {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timerInside {
  font-size: 24px;
  text-align: center;
}

#pg2 {
  /* background-color: #b4f0ff; */
  height: 100vh; 
  /* padding: 32px; */
  position: relative;
  margin: 0;
  /* margin-top: -32px; */
  /* padding-top: 32px; */
  
}

.technique {
  display: flex;
  flex-direction: row;
  margin: 36px;
  /* justify-content: center;
  width: 50%; */
}

.item-container {
  float: left;
  width: 12.5%;
  /* height: 30vh; */
  /* margin: 0 auto; */
  margin: 2%;
  margin-bottom: 20px;
  padding: 40px 20px;
  /* padding-top: 60px; */
  font-size: 24px;
  border: black;
  border-radius: 30px;
  align-items: center;
  background-color: #bab4ff;
  box-shadow:  5px 5px 11px #9e99d9,
              -5px -5px 11px #d6cfff;
}

.carousel{
  display: none;
}

.footer {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-top: 30px;
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  right: 0;
} 

.footer-text {
  margin: 0;
}



/* responsiveness */

@media screen and  (max-width: 768px){
  body {
    padding: 20px;
  }

  .header {
    margin: -20px;
  }

  .footer {
    margin: -20px;
  }

  /* #pg2{
    margin: -20px;
  } */

  .technique{
    display: none;
    /* margin: auto;
    padding: auto; */
    
  }

  /* .carousel{
    display: none;
  } */

  .itemContainer{
    width: 150px;
    height: 35vh;
    /* padding: -30px; */
    margin: 50px 50px;
    font-size: 24px;
    border: black;
    border-radius: 30px;
    align-items: center;
    background-color: #bab4ff;
    box-shadow:  5px 5px 11px #9e99d9,
                -5px -5px 11px #d6cfff;
  }
}